#tx11
{
    position: absolute;
width: 1176px;
height: 559px;
left: 207px;
right: 153px;
top: 406px;
bottom: 5px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
text-align: justify;

color: #000000;

}